# Energy Dataset Feature Engineering

In [12]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from sklearn.model_selection import train_test_split
import pandas_profiling

In [13]:
df_loaded = pd.read_csv("../Part2_Exploratory_Data_Analysis/energydata_complete_cleaned.csv")
df = df_loaded

In [14]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,day_of_week,week_status
0,2016-01-11 22:20:00,400,20,21.6,44.766667,20.890000,44.223333,20.5000,45.933333,19.696667,...,735.966667,87.666667,6.333333,40.0,3.733333,24.677065,24.677065,80400,0,1
1,2016-01-11 22:30:00,390,30,21.6,44.560000,20.963333,43.963333,20.5000,45.790000,20.096667,...,736.050000,87.500000,6.500000,40.0,3.750000,9.310880,9.310880,81000,0,1
2,2016-01-11 22:40:00,240,20,21.6,44.360000,21.000000,43.833333,20.5000,45.730000,20.596667,...,736.133333,87.333333,6.666667,40.0,3.766667,41.368666,41.368666,81600,0,1
3,2016-01-11 22:50:00,60,20,21.6,44.200000,21.000000,43.700000,20.5000,45.590000,20.996667,...,736.216667,87.166667,6.833333,40.0,3.783333,33.423337,33.423337,82200,0,1
4,2016-01-11 23:00:00,60,20,21.6,44.200000,21.000000,43.590000,20.4175,45.545000,21.166667,...,736.300000,87.000000,7.000000,40.0,3.800000,39.711993,39.711993,82800,0,1

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16808 entries, 0 to 16807
Data columns (total 32 columns):
date           16808 non-null object
Appliances     16808 non-null int64
lights         16808 non-null int64
T1             16808 non-null float64
RH_1           16808 non-null float64
T2             16808 non-null float64
RH_2           16808 non-null float64
T3             16808 non-null float64
RH_3           16808 non-null float64
T4             16808 non-null float64
RH_4           16808 non-null float64
T5             16808 non-null float64
RH_5           16808 non-null float64
T6             16808 non-null float64
RH_6           16808 non-null float64
T7             16808 non-null float64
RH_7           16808 non-null float64
T8             16808 non-null float64
RH_8           16808 non-null float64
T9             16808 non-null float64
RH_9           16808 non-null float64
T_out          16808 non-null float64
Press_mm_hg    16808 non-null float64
RH_out         16808 non-null float64
Windspeed      16808 non-null float64
Visibility     16808 non-null float64
Tdewpoint      16808 non-null float64
rv1            16808 non-null float64
rv2            16808 non-null float64
NSM            16808 non-null int64
day_of_week    16808 non-null int64
week_status    16808 non-null int64
dtypes: float64(26), int64(5), object(1)
memory usage: 4.1+ MB

In [16]:
df.describe()

,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,...,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2,NSM,day_of_week,week_status
count,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,...,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000,16808.000000
mean,93.776773,3.522727,21.556967,39.982769,20.040407,40.498662,22.133051,39.064144,20.725292,38.736855,...,755.827755,80.652536,4.053424,38.411871,3.413021,25.046649,25.046649,40848.155640,2.921228,0.737446
std,100.164810,7.629485,1.408360,3.625608,1.778716,3.708957,1.778750,3.130073,1.818792,4.168480,...,7.042373,13.527929,2.466052,11.874992,3.946533,14.487974,14.487974,24839.139841,1.975149,0.440035
min,10.000000,0.000000,18.000000,31.426667,16.200000,29.890000,17.790000,29.800000,15.690000,29.727143,...,735.933333,32.000000,0.000000,1.000000,-6.500000,0.005322,0.005322,0.000000,0.000000,0.000000
25%,50.000000,0.000000,20.700000,37.230000,18.760000,38.000000,20.760000,36.790000,19.533333,35.400000,...,751.233333,71.666667,2.000000,29.000000,0.733333,12.584626,12.584626,19200.000000,1.000000,0.000000
50%,60.000000,0.000000,21.500000,39.400000,19.790000,40.425833,22.066667,38.400000,20.600000,38.200000,...,756.200000,84.000000,3.666667,40.000000,3.150000,24.942051,24.942051,39600.000000,3.000000,1.000000
75%,90.000000,0.000000,22.390000,42.530000,21.166667,43.169500,23.200000,41.000000,21.856667,41.590000,...,761.100000,91.500000,5.666667,40.000000,6.066667,37.634201,37.634201,61800.000000,5.000000,1.000000
max,1080.000000,50.000000,25.356667,51.633333,25.560000,51.200000,27.035818,49.030000,25.926667,51.063333,...,772.300000,100.000000,14.000000,66.000000,14.950000,49.996530,49.996530,85800.000000,6.000000,1.000000

In the dataset:
* There are columns with a scope of transformation, like WeekStatus and Days_of_week.
* There is no null data in the dataset.
* Also, date column is not required because NSM column already got interpreted from this.

### Transformation of WeekStatus and Days_of_week columns

In [17]:
week_status = pd.get_dummies(df['week_status'], prefix = 'week_status')
day_of_week = pd.get_dummies(df['day_of_week'], prefix = 'day_of_week')
#['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
#['Weekend', 'Weekday']

# Concat above dummies variable dataframe to the main dataframe
df = pd.concat((df,week_status),axis=1)
df = pd.concat((df,day_of_week),axis=1)

# Drop the WeekStatus and Day_of_week column
df = df.drop(['week_status','day_of_week'],axis=1)

In [18]:
df.rename(columns={'week_status_0': 'Weekend', 'week_status_1': 'Weekday',
                   'day_of_week_0': 'Monday', 'day_of_week_1': 'Tuesday', 'day_of_week_2': 'Wednesday',
                  'day_of_week_3': 'Thursday', 'day_of_week_4': 'Friday', 'day_of_week_5': 'Saturday',
                  'day_of_week_6': 'Sunday'})

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,NSM,Weekend,Weekday,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,2016-01-11 22:20:00,400,20,21.600000,44.766667,20.890000,44.223333,20.500000,45.933333,19.696667,...,80400,0,1,1,0,0,0,0,0,0
1,2016-01-11 22:30:00,390,30,21.600000,44.560000,20.963333,43.963333,20.500000,45.790000,20.096667,...,81000,0,1,1,0,0,0,0,0,0
2,2016-01-11 22:40:00,240,20,21.600000,44.360000,21.000000,43.833333,20.500000,45.730000,20.596667,...,81600,0,1,1,0,0,0,0,0,0
3,2016-01-11 22:50:00,60,20,21.600000,44.200000,21.000000,43.700000,20.500000,45.590000,20.996667,...,82200,0,1,1,0,0,0,0,0,0
4,2016-01-11 23:00:00,60,20,21.600000,44.200000,21.000000,43.590000,20.417500,45.545000,21.166667,...,82800,0,1,1,0,0,0,0,0,0
5,2016-01-11 23:10:00,60,20,21.600000,44.200000,21.000000,43.590000,20.390000,45.663333,21.033333,...,83400,0,1,1,0,0,0,0,0,0
6,2016-01-11 23:20:00,50,10,21.600000,44.200000,21.000000,43.700000,20.290000,45.730000,20.963333,...,84000,0,1,1,0,0,0,0,0,0
7,2016-01-11 23:30:00,70,20,21.500000,44.230000,20.926667,43.760000,20.290000,45.790000,20.865000,...,84600,0,1,1,0,0,0,0,0,0
8,2016-01-11 23:40:00,60,20,21.500000,44.363333,20.890000,43.845000,20.290000,45.790000,20.730000,...,85200,0,1,1,0,0,0,0,0,0
9,2016-01-11 23:50:00,40,20,21.390000,44.433333,20.790000,43.790000,20.230000,45.656667,20.700000,...,85800,0,1,1,0,0,0,0,0,0
10,2016-01-12 00:00:00,40,10,21.390000,44.560000,20.790000,43.863333,20.200000,45.663333,20.633333,...,0,0,1,0,1,0,0,0,0,0
11,2016-01-12 00:10:00,30,20,21.290000,44.826667,20.700000,44.000000,20.200000,45.590000,20.566667,...,600,0,1,0,1,0,0,0,0,0
12,2016-01-12 00:20:00,40,20,21.290000,44.966667,20.633333,44.000000,20.166667,45.500000,20.500000,...,1200,0,1,0,1,0,0,0,0,0
13,2016-01-12 00:30:00,50,20,21.260000,45.090000,20.600000,44.030000,20.100000,45.500000,20.500000,...,1800,0,1,0,1,0,0,0,0,0
14,2016-01-12 00:40:00,310,10,21.200000,45.090000,20.600000,44.090000,20.100000,45.500000,20.426667,...,2400,0,1,0,1,0,0,0,0,0
15,2016-01-12 00:50:00,380,20,21.166667,45.230000,20.500000,44.126667,20.100000,45.500000,20.460000,...,3000,0,1,0,1,0,0,0,0,0
16,2016-01-12 01:00:00,380,20,21.075000,45.372500,20.500000,44.200000,20.100000,45.530000,20.793333,...,3600,0,1,0,1,0,0,0,0,0
17,2016-01-12 01:10:00,370,20,21.000000,45.400000,20.390000,44.200000,20.100000,45.590000,21.263333,...,4200,0,1,0,1,0,0,0,0,0
18,2016-01-12 01:20:00,120,10,21.000000,45.590000,20.390000,44.260000,20.100000,45.590000,21.596667,...,4800,0,1,0,1,0,0,0,0,0
19,2016-01-12 01:30:00,50,0,20.926667,45.590000,20.290000,44.290000,20.166667,45.530000,21.890000,...,5400,0,1,0,1,0,0,0,0,0
20,2016-01-12 01:40:00,40,0,20.890000,45.666667,20.230000,44.290000,20.133333,45.500000,21.823333,...,6000,0,1,0,1,0,0,0,0,0
21,2016-01-12 01:50:00,50,0,20.890000,46.060000,20.200000,44.400000,20.200000,45.500000,21.666667,...,6600,0,1,0,1,0,0,0,0,0
22,2016-01-12 02:00:00,40,0,20.790000,46.200000,20.200000,44.466667,20.166667,45.500000,21.533333,...,7200,0,1,0,1,0,0,0,0,0
23,2016-01-12 02:10:00,50,0,20.790000,46.200000,20.100000,44.530000,20.125000,45.425000,21.356667,...,7800,0,1,0,1,0,0,0,0,0
24,2016-01-12 02:20:00,50,0,20.700000,46.260000,20.100000,44.590000,20.133333,45.400000,21.230000,...,8400,0,1,0,1,0,0,0,0,0
25,2016-01-12 02:30:00,50,0,20.700000,46.200000,20.000000,44.433333,20.200000,45.500000,21.066667,...,9000,0,1,0,1,0,0,0,0,0
26,2016-01-12 02:40:00,40,0,20.600000,46.200000,20.000000,44.500000,20.200000,45.500000,20.926667,...,9600,0,1,0,1,0,0,0,0,0
27,2016-01-12 02:50:00,40,0,20.600000,46.126667,20.000000,44.500000,20.200000,45.400000,20.745000,...,10200,0,1,0,1,0,0,0,0,0
28,2016-01-12 03:00:00,30,0,20.566667,46.066667,19.890000,44.590000,20.200000,45.400000,20.666667,...,10800,0,1,0,1,0,0,0,0,0
29,2016-01-12 03:10:00,20,0,20.500000,46.200000,19.823333,44.530000,20.290000,45.466667,20.533333,...,11400,0,1,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16778,2016-05-27 05:00:00,60,0,24.000000,45.000000,22.200000,45.590000,26.700000,40.400000,24.463333,...,18000,0,1,0,0,0,0,1,0,0
16779,2016-05-27 05:10:00,60,0,23.926667,45.000000,22.200000,45.634000,26.700000,40.400000,24.390000,...,18600,0,1,0,0,0,0,1,0,0
16780,2016-05-27 05:20:00,60,0,23.890000,45.000000,22.200000,45.700000,26.633333,40.400000,24.390000,...,19200,0,1,0,0,0,0,1,0,0
16781,2016-05-27 05:30:00,60,0,23.890000,45.000000,22.200000,45.700000,26.700000,40.466667,24.390000,...,19800,0,1,0,0,0,0,1,0,0
16782,2016-05-27 05:40:00,50,0,23.890000,45.060000,22.200000,45.700000,26.700000,40.466667,24.356667,...,20400,0,1,0,0,0,0,1,0,0
16783,2016-05-27 05:50:00,60,0,23.790000,45.000000,22.200000,45.754000,26.600000,40.500000,24.340000,...,21000,0,1,0,0,0,0,1,0,0
16784,2016-05-27 06:00:00,50,10,23.790000,45.133333,22.200000,45.867143,26.666667,40.500000,24.356667,...,21600,0,1,0,0,0,0,1,0,0
16785,2016-05-27 06:10:00,110,0,23.890000,45.363333,22.200000,46.112000,26.530000,40.100000,24.290000,...,22200,0,1,0,0,0,0,1,0,0
16786,2016-05-27 06:20:00,70,0,23.890000,45.363333,22.200000,46.264286,26.323333,39.826667,24.290000,...,22800,0,1,0,0,0,0,1,0,0
16787,2016-05-27 06:30:00,50,0,24.000000,45.433333,22.200000,46.440000,26.166667,39.760000,24.290000,...,23400,0,1,0,0,0,0,1,0,0
16788,2016-05-27 06:40:00,50,0,24.000000,45.560000,22.277143,46.608571,26.100000,39.700000,24.290000,...,24000,0,1,0,0,0,0,1,0,0
16789,2016-05-27 06:50:00,50,0,24.000000,45.466667,22.290000,46.572000,26.000000,39.730000,24.290000,...,24600,0,1,0,0,0,0,1,0,0
16790,2016-05-27 07:00:00,50,0,24.000000,45.400000,22.361429,46.428571,25.926667,39.530000,24.290000,...,25200,0,1,0,0,0,0,1,0,0
16791,2016-05-27 07:10:00,60,0,23.926667,45.363333,22.390000,46.290000,25.840000,39.400000,24.290000,...,25800,0,1,0,0,0,0,1,0,0
16792,2016-05-27 07:20:00,60,0,24.000000,45.490000,22.390000,46.290000,25.790000,39.433333,24.290000,...,26400,0,1,0,0,0,0,1,0,0
16793,2016-05-27 07:30:00,190,0,23.890000,45.500000,22.390000,46.290000,25.730000,39.560000,24.230000,...,27000,0,1,0,0,0,0,1,0,0
16794,2016-05-27 07:40:00,130,0,23.963333,45.500000,22.390000,46.290000,25.730000,39.700000,24.290000,...,27600,0,1,0,0,0,0,1,0,0
16795,2016-05-27 07:50:00,180,0,24.000000,45.500000,22.500000,46.400000,25.790000,39.700000,24.290000,...,28200,0,1,0,0,0,0,1,0,0
16796,2016-05-27 08:00:00,360,0,24.000000,45.500000,22.470000,46.382857,25.700000,39.900000,24.290000,...,28800,0,1,0,0,0,0,1,0,0
16797,2016-05-27 08:10:00,100,0,23.856667,48.756667,22.252000,46.680000,25.760000,39.900000,24.290000,...,29400,0,1,0,0,0,0,1,0,0
16798,2016-05-27 08:20:00,70,0,23.790000,48.223333,22.100000,47.121429,25.890000,39.900000,24.230000,...,30000,0,1,0,0,0,0,1,0,0
16799,2016-05-27 08:30:00,80,0,23.700000,47.333333,22.236000,47.374000,25.890000,39.900000,24.200000,...,30600,0,1,0,0,0,0,1,0,0
16800,2016-05-27 08:40:00,80,0,23.633333,47.000000,22.611429,47.184286,26.000000,40.363333,24.260000,...,31200,0,1,0,0,0,0,1,0,0
16801,2016-05-27 08:50:00,90,0,23.600000,47.100000,22.970000,46.610000,26.000000,40.363333,24.290000,...,31800,0,1,0,0,0,0,1,0,0
16802,2016-05-27 09:00:00,90,0,23.600000,47.200000,23.497143,45.897143,26.000000,40.400000,24.290000,...,32400,0,1,0,0,0,0,1,0,0
16803,2016-05-27 09:10:00,60,0,23.600000,47.200000,24.040000,44.710000,26.066667,40.400000,24.390000,...,33000,0,1,0,0,0,0,1,0,0
16804,2016-05-27 09:20:00,70,0,23.600000,47.200000,24.185000,44.243750,26.100000,40.466667,24.390000,...,33600,0,1,0,0,0,0,1,0,0
16805,2016-05-27 09:30:00,50,0,23.600000,47.200000,24.452857,43.750000,26.100000,40.466667,24.390000,...,34200,0,1,0,0,0,0,1,0,0
16806,2016-05-27 09:40:00,580,0,23.633333,47.226667,24.814000,43.472000,26.166667,40.500000,24.500000,...,34800,0,1,0,0,0,0,1,0,0
16807,2016-05-27 09:50:00,660,0,23.760000,47.693333,25.497143,42.595714,26.033333,40.693333,24.500000,...,35400,0,1,0,0,0,0,1,0,0

## Pandas Profiling

There is a library that gives a high level overview -- https://github.com/JosPolfliet/pandas-profiling

In [19]:
# pandas_profiling.ProfileReport(df_loaded)

From the above warnings, following can be deduced:
* Dropping the highly correlated attributes:
    * T9, Temperature in parents room and T7, Temperature in ironing room (ρ = 0.94478)
        * T9 is matter of importance, hence considering to **drop T7**
    * T_out, Temperature outside (from Chièvres weather station) and T6, Temperature outside the building (north side) (ρ = 0.97479)
        * As RH_out is more in correlation with 'Appliances' as compared to RH_6, considering to **drop T6**
    * rv2, Random Variable 2 and rv1, Random Variable 1 (ρ = 1)
        * As both of these attributes are equal, considering to **drop rv1**
    * date column and NSM column provides similar information.
        * Therefore considering to **drop date**

In [20]:
df = df.drop(['T7', 'T6', 'rv1','date'],axis=1)

### Redefining the Appliances column
> As the task is to understand the energy conumption, adding the consumption of lights to the appliances as a whole

In [21]:
df['Appliances'] = df['Appliances'] + df['lights']
df = df.drop(['lights'],axis=1)

In [22]:
# Exporting the transformed dataset
df.to_csv('energydata_complete_transformed.csv', index=False)